html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/css/styles.css")
        title Doom


    body 
        header
            h1 Doom
        main
            div#welcome
                form
                    input(placeholder="rom name", required, type="text")
                    button Enter room
            div#call
                button#hangup hangup
                div#myStream
                    div#settings
                        button#mute Mute
                        button#camera Turn Off Cam
                        select#cameras
                        select#mics
                        select#speakers
                    div#videoChat
                        div#camBox
                            video#myFace(autoplay,playsinline, width="400", height="300")
                            video#peerFace(autoplay,playsinline, width="400", height="300")
                        div#chatBox(ondrop="dropHandler(event);")
                            ul#chat
                            form(autocomplete="off")#text
                                input(type='text')#textInput
                                button Send
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")
        script(src="/static/js/main.js")

